body {
    background-color: black;
    color: white;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

#image {
    border: white solid 5px;
    width: max-content;
    height: max-content;
    padding: 0px;
    margin: auto;

}
img {
    width: 350px;
    display: block;
}

#main {
    width: 50%;
    margin-left: 25%;
    margin-top: 200px;
}
#title {
    text-align: center;
}
#paragraph {
    text-align: center;
}
